@import 'utils/scss_variables.module.scss';

.events-details-page {
    .title-value-display-wrapper {
        &.path-display,
        &.query-display {
            max-width: 600px;
        }
        &.spec-display {
            width: 600px;

            button {
                font-size: 14px;
                height: auto;
            }
        }
    }
    .spec-diff-wrapper {
        position: relative;
        min-height: 300px;

        .spec-diff-titles-wrapper {
            display: flex;
            margin-bottom: 20px;
            font-weight: bold;
            font-size: 14px;
            line-height: 19px;
            color: $color-grey-dark;

            > div {
                width: 50%;
            }
        }
    }
    .title-value-display-wrapper {
        &.bfla-status {
            width: 350px;
        }
        .bfla-status-title {
            display: flex;
            align-items: baseline;
            > span {
                margin-right: 10px;
            }
        }

    }
}
